<%= form_for(@touristspot, :html => { multipart: true }) do |f| %>
  <% if @touristspot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@touristspot.errors.count, "error") %> prohibited this touristspot from being saved:</h2>

      <ul>
      <% @touristspot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :shortinfo %><br>
    <%= f.text_field :shortinfo, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :tourist, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
