<h1>Search</h1>
 <%= form_tag search_path, :method => 'get', class: "navbar-form navbar-center",  role:"search" do %>
		<div class="form-control">
			<%= hidden_field_tag :section, params[:section], value: params[:section] %>
			<%= text_field_tag :q, params[:q], value: params[:q], placeholder:"Search" %>
			<%= submit_tag "Search", name: nil, class:"btn btn-primary" %>
		</div>
 <% end %>
 <div class="nav">
	<ul>
		<li><%= link_to "All", search_path(section: "all", q: params[:q]) %></li>
 		<li><%= link_to "Restaurants", search_path(section: "restaurant", q: params[:q]) %></li>
 		<li><%= link_to "Street_foods", search_path(section: "street_food", q: params[:q]) %></li>
 		<li><%= link_to "Places", search_path(section: "place", q: params[:q]) %></li>
		<li><%= link_to "Touristspots", search_path(section: "touristspot", q: params[:q]) %></li>
		<li><%= link_to "Bars", search_path(section: "bar", q: params[:q]) %></li>
		<li><%= link_to "Pubs", search_path(section: "pub", q: params[:q]) %></li>

 	</ul>
 </div>
 
 <% if params[:q].present? %>
 	<% if params[:section] == "all" %>
 		<p>Restaurants: results: <%= @results[:restaurants] %></p>
 		<%= render :partial => "search/restaurant", :collection => @results[:restaurants], :as => 'restaurant' %>
 		<p>Street_foods: results: <%= @results[:street_foods] %></p>
 		<%= render :partial => "search/street_food", :collection => @results[:street_foods], :as => 'street_food' %>
 		<p>Places: results: <%= @results[:places] %></p>
 		<%= render :partial => "search/place", :collection => @results[:places], :as => 'place' %>
		<p>Touristspots: results: <%= @results[:touristspots] %></p>
 		<%= render :partial => "search/touristspot", :collection => @results[:touristspots], :as => 'touristspot' %>
		<p>Bars: results: <%= @results[:bars] %></p>
		<%= render :partial => "search/bar", :collection => @results[:bars], :as => 'bar' %>
		  <p>Pubs: results: <%= @results[:pubs] %></p>
		<%= render :partial => "search/pub", :collection => @results[:pubs], :as => 'pub' %>

 	<% elsif params[:section] == "restaurant" %>
 		<p>results: <%= @restaurants %></p>
 		<%= render :partial => "search/restaurant", :collection => @restaurants, :as => 'restaurant' %>
 	<% elsif params[:section] == "street_food" %>
 		<p>results: <%= @street_foods %></p>
 		<%= render :partial => "search/street_food", :collection => @street_foods, :as => 'street_food' %>
 	<% elsif params[:section] == "place" %>
 		<p>results: <%= @places %></p>
 		<%= render :partial => "search/place", :collection => @places, :as => 'place' %>
	<% elsif params[:section] == "touristspot" %>
 		<p>results: <%= @touristspots %></p>
 		<%= render :partial => "search/touristspot", :collection => @touristspots, :as => 'touristspot' %>
	<% elsif params[:section] == "bar" %>
		<p>results: <%= @bars %></p>
		<%= render :partial => "search/bar", :collection => @bars, :as => 'bar' %>
	<% elsif params[:section] == "pub" %>
		<p>results: <%= @pubs %></p>
		<%= render :partial => "search/pub", :collection => @pubs, :as => 'pub' %>	
 	
 	<% end %>
 <% else %>
 	<h2><strong>Sorry. No results found!</strong></h2>
 <% end %>
