<p id="notice"><%= notice %></p>

<style>
  table {
    border-collapse: collapse;
  }
  
  tr {
    border-bottom: 1px solid #e3e3e3;
  }
</style>

<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-8">
        <%= image_tag @bar.bar_url %>   
      <br>
      <br>
     <% if @reviews.blank? %>
      <h3> No reviews Yet. Be the first to give a reviews and help others</h3>
    <% else %>
      <h2> Reviews.</h2>
      <table class="table">
        <thead>
          <tr>

            <th class="col-md-3"></th>
            <th class="col-md-9"></th>
          </tr>
        </thead>

        <tbody class="frm-white">
          <% @reviews.each do |review| %>
              <tr>
                <td>
                    <div class="img-rounded">
                      <img src="<%= review.user.avatar_url %>">
                    </div> 

                  
                    <p><%= review.created_at.strftime("%-d/%-m/%-y") %></p>
                </td>

                <td>
                    <h4><strong>
                        <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
                    </strong>
                    </h4>
                      <div class="star-rating" data-score= <%= review.rating %> ></div>
                      <h5><p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p></h5>
								<%= social_share_button_tag(@bar.reviews) %>

                      <% if user_signed_in? %>
                        <% if (review.user == current_user) || (current_user.admin?) %>
                          <%= link_to "Edit", edit_bar_review_path(@bar, review) %>
                          <%= link_to "Delete", bar_review_path(@bar, review), method: :delete %>
                          <% end %>
                        <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
    </div>
    <br>
    <br>
    <div class="col-md-4">
     <div class="frm-white"> 
	 <div class="detail-overview-hearts">
                <h4><i class="glyphicon glyphicon-heart"></i> <strong><%= @bar.get_upvotes.size %></strong> people love it
            </h4></div>
      <%= link_to "Give Heart", like_bar_path(@bar), class: "btn btn-success", method: :put %>

		  <%= link_to "Downvote", dislike_bar_path(@bar), 
      class: "btn btn-link", method: :put %>
    </div>


<h2>
  <strong><%= @bar.name %></strong>
  </h2><%= social_share_button_tag(@bar.name) %>
 <br>
    <div class="star-rating" data-score= <%= @avg_rating %> ></div>
    <p><%= "#{@reviews.length} reviews" %></p>

	<div class="frm-white">
<p>
  <strong>Address:</strong>
  <%= @bar.address %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @bar.zipcode %>
</p></div>

    <%= link_to "Write a Review", new_bar_review_path(@bar), class: "btn btn-success" %>

    <br>
    <br>

    <iframe
    width="296"
    height="230"
    frameborder="1" style="border:1"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDJ7BphNq_tVYF9JucYg93sM_xkeuMwR0w
      &q=<%= @bar.address.parameterize %>&zoom=14" allowfullscreen>
  </iframe>

  <br>
  <br>
  <div class="frm-white">
  <p>
  <strong>Phone:</strong>
  <%= @bar.phone %>
</p>

<p>
  <strong>Timing:</strong>
  <%= @bar.timing %>
</p>

<p>
  <strong>Takes Reservation:</strong>
  <%= @bar.takesreservation %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @bar.parking %>
</p>

<p>
  <strong>Good for groups:</strong>
  <%= @bar.goodforgroups %>
</p>

<p>
  <strong>Ambience:</strong>
  <%= @bar.ambience %>
</p>

<p>
  <strong>Noise level:</strong>
  <%= @bar.noiselevel %>
</p>

<p>
  <strong>Good for dancing:</strong>
  <%= @bar.goodfordancing %>
</p>

<p>
  <strong>Alcohol:</strong>
  <%= @bar.alcohol %>
</p>

<p>
  <strong>Happy-hour:</strong>
  <%= @bar.happyhour %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @bar.smoking %>
</p>

<p>
  <strong>Has TV:</strong>
  <%= @bar.hastv %>
</p></div>

  </div>
</div>
</div>

    </div>
  </div>

<%= link_to 'Edit', edit_bar_path(@bar), class: "btn btn-link" %> |
<%= link_to 'Back', bars_path, class: "btn btn-link" %>
</div>

<script>
  $('.star-rating').raty({
    path: 'http://reviewapp.blob.core.windows.net/stars', 
    readOnly: true,
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
