<div class="lp-home-banner-contianer">
			<div class="lp-home-banner-contianer-inner">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 text-center">
							<p class="lp-banner-browse-txt">Browse Anything!</p>
							<h1>Discover your City</h1>
							<h2>Visited an interesting Place or Spot? Share Your experience with your friends.</h2>
							<br>
							<br>
							<%= form_tag search_path, method: :get, class: "navbar-form navbar-center" do %>
							<p>
							  <%= hidden_field_tag :section, params[:section], value: "all" %>
							  <%= text_field_tag :q, params[:q], class: "form-control" %>
							  <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
							</p>
						  <% end %>
						</div>
						</div>
					</div>
				</div>
	
			</div>
		</div>
		
<div class="lp-section-row">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="lp-home-categoires margin-top-subtract-55 padding-left-0">
							<li>
								<a href="http://socialye.in/restaurants" class="lp-border-radius-5">	
									<span>
									<!-- Food icon by Icons8 -->
									<img class="icon icons8-Food" src="http://reviewapp.blob.core.windows.net/icons/dine.png" alt="Food"><br>
										Restaurants
									</span>
								</a>
							</li>
							<li>
								<a href="http://socialye.in/street_foods" class="lp-border-radius-5">	
									<span>
										<!-- Bar icon by Icons8 -->
										<img class="icon icons8-Bar" src="http://reviewapp.blob.core.windows.net/icons/ghanta.png" alt=""><br>
										Street Foods
									</span>
								</a>
							</li>
							<li>
								<a href="http://socialye.in/pubs" class="lp-border-radius-5">	
									<span>
										<!-- Shopping Bag icon by Icons8 -->
										<img class="icon icons8-Shopping-Bag" src="http://reviewapp.blob.core.windows.net/icons/beer.png" alt="Shop"><br>
										Pubs
									</span>
								</a>
							</li>
							<li>
								<a href="http://socialye.in/places" class="lp-border-radius-5">	
									<span>
									<!-- Cat Footprint icon by Icons8 -->
<img class="icon icons8-Cat-Footprint" src="http://reviewapp.blob.core.windows.net/icons/sitting-place.png" alt=""><br>
										Places/Spots
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

<div class="container">
 <h2> NearBy Restaurants </h2>
  <div class="center">
  <div class="row">
  <% @restaurants.limit(5).each do |restaurant| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(restaurant.image.thumb.url), restaurant %>
          <div class="caption">
            <h3><%= link_to restaurant.name.capitalize, restaurant %></h3>
            <p><%= restaurant.description.capitalize %></p>
            <p><%= restaurant.city.capitalize %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>

<div class="container">
 <h2> NearBy Places </h2>
  <div class="center">
  <div class="row">
  <% @places.limit(5).each do |place| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(place.placesvisited.thumb.url), place %>
          <div class="caption">
            <h3><%= link_to place.name.capitalize, place %></h3>
            <p><%= place.address.capitalize %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>

<div class="container">
 <h2> Nearby Street Foods Spots </h2>
  <div class="center">
  <div class="row">
  <% @street_foods.limit(5).each do |street_food| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(street_food.streetfoods.thumb.url), street_food %>
          <div class="caption">
            <h3><%= link_to street_food.name.capitalize, street_food %></h3>
            <p><%= street_food.address.capitalize %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>

<div class="container">
 <h2> NearBy Pubs </h2>
  <div class="center">
  <div class="row">
  <% @pubs.limit(5).each do |pub| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(pub.pubhome.thumb.url), pub %>
          <div class="caption">
            <h3><%= link_to pub.name.capitalize, pub %></h3>
            <p>Location: <%= pub.address.capitalize %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
