<p id="notice"><%= notice %></p>

<h1>Listing Weekends</h1>

<table>
  <thead>
    <tr>
      <th>Hangouts</th>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
      <th>Placesvisited</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weekends.each do |weekend| %>
      <tr>
        <td><%= weekend.Hangouts %></td>
        <td><%= weekend.name %></td>
        <td><%= weekend.address %></td>
        <td><%= weekend.description %></td>
        <td><%= weekend.placesvisited %></td>
        <td><%= link_to 'Show', weekend %></td>
        <td><%= link_to 'Edit', edit_weekend_path(weekend) %></td>
        <td><%= link_to 'Destroy', weekend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weekend', new_weekend_path %>
